@using HilbertsHotel.Models
@model List<Reservation>
@{
     

 ViewBag.Title = "Details";
 Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Details</h2>
<div class="panel panel-default">
    <div class="panel-heading">Reservations</div>


    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Check In</th>
                <th>Check Out</th>
            </tr>
        </thead>
        @foreach (var person in Model)
        {
            <tr>
                
                <div>
                    <td>@person.FirstName</td>

                    <td> @person.LastName </td>

                    <td>@person.EmailAddress </td>

                    <td>@person.CheckIn</td>

                    <td>@person.Checkout</td>
                </div>
            </tr>
        }
    </table>

</div>

